<h1><%= t '.title' %></h1>
<%= form_with(model: @report, url: user_reports_path, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, size: "22x10" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
