<h1><%= t 'views.common.edit' %></h1>
<%= form_with(model: @report, url: user_report_path, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, size: "22x10" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>


<%= link_to t('views.common.back'), user_report_path %>

<%= link_to t('views.common.destroy'), user_report_path(@report.id), method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
<%= link_to t('views.common.index'), user_reports_path %>
