<h2><%= @report.title %></h2>

<p><%= Report.human_attribute_name(:text) %>：<%= @report.text %></p>
<p><%= Report.human_attribute_name(:create_at) %>：<%= @report.created_at %></p>

<% if current_user.id == @report.user_id %>
  <%= link_to t('views.common.edit'), edit_user_report_path %>

  <%= link_to t('views.common.destroy'), user_report_path(@report.id), method: :delete, data: { confirm: t('views.common.delete_confirm') } %>

<% end %>

<%= link_to t('views.common.back'), request.referer %>

<%= render 'comments/form' , commentable: @report, comment: @comments %>
<p><%= t'comments_count' %>：<%= @report.comments.count %></p>
<% @comments.each do |comment| %>
  <div>
    <% if comment.user.name.blank? %>
      <%= comment.user.email %>
    <% else %>
      <%= comment.user.name %>
    <% end %>
    <%= comment.created_at.strftime('%F %T') %><br>
    <div>
      <%= comment.comment %>
      <% if comment.user == current_user %>
        <div>
          <%= link_to t('views.common.destroy'), report_comment_path(@report, comment.id), method: :delete %>
        </div>
        </div>
        </div>
      <% end %>
<% end %>


