<% if @comments.count.zero? %>
  <p><%= t 'no_comments_yet' %></p>
<% else %>
  <p><%= t 'comments_count' %>：<%= @comments.count %></p>
<% end %>
<% @comments.each do |comment| %>
  <div>
    <% if comment.user.blank? %>
      <%= t 'anonymous' %>
    <% else %>
      <% if comment.user.name.blank? %>
        <%= comment.user.email %>
      <% else %>
        <%= comment.user.name %>
      <% end %>
    <% end %>
    <%= l(comment.created_at, format: :short) %><br>
    <div>
      <%= comment.comment %>
      <% if comment.user == current_user %>
        <div>
          <%= link_to t('views.common.destroy'), report_comment_path(@report, comment.id), method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
